<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	<!-- Miscellaneous Keys -->
	<ATR_ModTitle>Android Tiers Reforged Core</ATR_ModTitle>

	<!-- Mod Settings Page Keys -->

	<ATR_SettingsTabOption_Folded>&lt;</ATR_SettingsTabOption_Folded>
	<ATR_SettingsTabOption_General>General</ATR_SettingsTabOption_General>
	<ATR_SettingsTabOption_Security>Security</ATR_SettingsTabOption_Security>
	<ATR_SettingsTabOption_Connectivity>Connectivity</ATR_SettingsTabOption_Connectivity>

	<!-- General Settings -->

		<!-- Gender Settings -->
	<ATR_AndroidGenderNotice>Changes only affect NEW androids</ATR_AndroidGenderNotice>
	<ATR_AndroidsHaveGenders>Androids have genders</ATR_AndroidsHaveGenders>
	<ATR_AndroidsPickGenders>Androids pick gender upon creation</ATR_AndroidsPickGenders>
	<ATR_AndroidsFixedGenderSelector>All androids are male (false) or female (true)</ATR_AndroidsFixedGenderSelector>
	<ATR_AndroidsGenderRatio>Chance for android to pick male gender vs female gender</ATR_AndroidsGenderRatio>

        <!-- Android Faction Settings -->
    <ATR_AndroidFactionsNeverFlee>Android factions never flee from battle</ATR_AndroidFactionsNeverFlee>

        <!-- Rights Settings -->
    <ATR_factionsWillDeclareRightsWars>Factions will declare war over rights disputes</ATR_factionsWillDeclareRightsWars>
    <ATR_factionsWillDeclareRightsWarsDesc>Factions that are anti-mechanical or anti-organic will declare war on you if you have mechanical/organic colonists</ATR_factionsWillDeclareRightsWarsDesc>

    <ATR_SettingsAntiMechanicalFaction>Factions without mechanical rights</ATR_SettingsAntiMechanicalFaction>
    <ATR_SettingsTolerateMechanicalFaction>Factions tolerating mechanicals</ATR_SettingsTolerateMechanicalFaction>
    <ATR_SettingsAntiOrganicFaction>Factions without organic rights</ATR_SettingsAntiOrganicFaction>
    <ATR_SettingsTolerateOrganicFaction>Factions tolerating organics</ATR_SettingsTolerateOrganicFaction>

    <ATR_dronesTriggerRightsWars>Anti-mechanical factions declare war over drones</ATR_dronesTriggerRightsWars>
    <ATR_prisonersTriggerRightsWars>Factions declare war over prisoners</ATR_prisonersTriggerRightsWars>
    <ATR_slavesTriggerRightsWars>Factions declare war over slaves</ATR_slavesTriggerRightsWars>
    <ATR_surrogatesTriggerRightsWars>Factions declare war over surrogates</ATR_surrogatesTriggerRightsWars>

	<!-- Security Settings -->
        <!-- Hostile Hacking -->
	<ATR_EnemyHacksOccur>Hostile hacking is enabled.</ATR_EnemyHacksOccur>
	<ATR_ChanceAlliesInterceptHack>Chance to intercept hacks against you per allied faction</ATR_ChanceAlliesInterceptHack>
	<ATR_ChanceAlliesInterceptHackDesc>Percent chance that allied factions will save you from a successful enemy hack, preventing damage and actually giving you security points. This is PER ALLY.</ATR_ChanceAlliesInterceptHackDesc>
	<ATR_PointsGainedOnInterceptPercentage>Points gained when allies intercept as percentage of attack</ATR_PointsGainedOnInterceptPercentage>
	<ATR_PointsGainedOnInterceptPercentageDesc>When an ally intercepts an attack against you, they donate security points to you. This controls what percentage of the raid points they give you.</ATR_PointsGainedOnInterceptPercentageDesc>
	<ATR_EnemyHackAttackStrengthModifier>Enemy hack strength modifier</ATR_EnemyHackAttackStrengthModifier>
	<ATR_EnemyHackAttackStrengthModifierDesc>Multiplicative modifier on how many hacking points enemy hacking incidents will have. Less than 100% reduces intensity, greater than 100% raises intensity.</ATR_EnemyHackAttackStrengthModifierDesc>
	<ATR_PercentageOfValueUsedForRansoms>Percentage of item value demanded in ransom attack</ATR_PercentageOfValueUsedForRansoms>

        <!-- Player Hacking -->
    <ATR_PlayerCanHack>Player hacking is enabled.</ATR_PlayerCanHack>
    <ATR_receiveFullHackingAlert>Alert for hacking points exceeding 90% of capacity.</ATR_receiveFullHackingAlert>
    <ATR_RetaliationChanceOnFailure>Chance the target faction will retaliate on a failed hack</ATR_RetaliationChanceOnFailure>
    <ATR_MinHackSuccessChance>Minimum chance of a successful hack</ATR_MinHackSuccessChance>
    <ATR_MaxHackSuccessChance>Maximum chance of a successful hack</ATR_MaxHackSuccessChance>

	<!-- Connectivity Settings -->
        <!-- Surrogates -->
    <ATR_surrogatesAllowed>Surrogates are permitted.</ATR_surrogatesAllowed>
    <ATR_otherFactionsAllowedSurrogates>Other factions may use surrogates.</ATR_otherFactionsAllowedSurrogates>
    <ATR_minGroupSizeForSurrogates>Number of members for faction groups to spawn with surrogates</ATR_minGroupSizeForSurrogates>
    <ATR_minSurrogatePercentagePerLegalGroup>Minimum percentage of surrogates in legal groups [default 20%]</ATR_minSurrogatePercentagePerLegalGroup>
    <ATR_maxSurrogatePercentagePerLegalGroup>Maximum percentage of surrogates in legal groups [default 70%]</ATR_maxSurrogatePercentagePerLegalGroup>
    <ATR_displaySurrogateControlIcon>Display floating icon above controlled surrogates.</ATR_displaySurrogateControlIcon>
    <ATR_safeSurrogateConnectivityCountBeforePenalty>Surrogates per controller before penalties:</ATR_safeSurrogateConnectivityCountBeforePenalty>

        <!-- Skills -->
    <ATR_receiveFullSkillAlert>Alert for skill points exceeding 90% of capacity.</ATR_receiveFullSkillAlert>
	<ATR_skillPointInsertionRate>Amount of skill points used per insertion [default: 100]</ATR_skillPointInsertionRate>
	<ATR_skillPointConversionRate>Amount of base XP generated per skill point [default: 0.5]</ATR_skillPointConversionRate>
	<ATR_passionSoftCap>Passion soft-cap before cost increases per passion [default: 8]</ATR_passionSoftCap>
	<ATR_basePointsNeededForPassion>Base skill points needed per passion [default: 5000]</ATR_basePointsNeededForPassion>

        <!-- Cloud -->
    <ATR_UploadingKills>Uploading to SkyMind turns the initiator's body into a blank.</ATR_UploadingKills>
    <ATR_UploadingPermakills>Uploading to SkyMind leaves the initiator's body completely useless and dead.</ATR_UploadingPermakills>
    <ATR_SkyMindOperationTimeRequired>Hours required to complete SkyMind operations [default: 24]</ATR_SkyMindOperationTimeRequired>

</LanguageData>