<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- Miscellaneous Keys -->
  <ATRCore_ModTitle>Android Tiers Reforged Core</ATRCore_ModTitle>

  <!-- Mod Settings Page Keys -->

  <ATR_SettingsTabOption_Folded>&lt;</ATR_SettingsTabOption_Folded>
  <ATR_SettingsTabOption_General>Основные</ATR_SettingsTabOption_General>
  <ATR_SettingsTabOption_Security>Защита</ATR_SettingsTabOption_Security>
  <ATR_SettingsTabOption_Connectivity>Подключение</ATR_SettingsTabOption_Connectivity>

  <!-- General Settings -->

  <!-- Gender Settings -->
  <ATR_AndroidGenderNotice>Изменения коснутся только НОВЫХ андроидов</ATR_AndroidGenderNotice>
  <ATR_AndroidsHaveGenders>Андроиды имеют пол</ATR_AndroidsHaveGenders>
  <ATR_AndroidsPickGenders>Андроиды меняют пол при создании</ATR_AndroidsPickGenders>
  <ATR_AndroidsFixedGenderSelector>Все андроиды — мужчины или женщины</ATR_AndroidsFixedGenderSelector>
  <ATR_AndroidsGenderRatio>Шанс выбрать МУЖСКОЙ или ЖЕНСКИЙ пол</ATR_AndroidsGenderRatio>

  <!-- Android Faction Settings -->
  <ATR_AndroidFactionsNeverFlee>Фракции андроидов никогда не спасаются бегством</ATR_AndroidFactionsNeverFlee>

  <!-- Rights Settings -->
  <ATR_factionsWillDeclareRightsWars>Фракции объявят войну из-за споров о правах</ATR_factionsWillDeclareRightsWars>
  <ATR_factionsWillDeclareRightsWarsDesc>Фракции, настроенные против «Механики/Органики», объявят вам войну, если у вас есть «Механические/Органические» поселенцы.</ATR_factionsWillDeclareRightsWarsDesc>

  <ATR_SettingsAntiMechanicalFaction>Фракции нетерпимые к андроидам</ATR_SettingsAntiMechanicalFaction>
  <ATR_SettingsTolerateMechanicalFaction>Фракции терпимые к андроидам</ATR_SettingsTolerateMechanicalFaction>
  <ATR_SettingsAntiOrganicFaction>Фракции нетерпимые к органике</ATR_SettingsAntiOrganicFaction>
  <ATR_SettingsTolerateOrganicFaction>Фракции терпимые к органике</ATR_SettingsTolerateOrganicFaction>

  <ATR_dronesTriggerRightsWars>Фракции нетерпимые к андроидам, объявляют войну за дронов</ATR_dronesTriggerRightsWars>
  <ATR_prisonersTriggerRightsWars>Фракции объявляют войну за заключённых</ATR_prisonersTriggerRightsWars>
  <ATR_slavesTriggerRightsWars>Фракции объявляют войну за рабов</ATR_slavesTriggerRightsWars>
  <ATR_surrogatesTriggerRightsWars>Фракции объявляют войну за суррогатов</ATR_surrogatesTriggerRightsWars>

  <!-- Security Settings -->
  <!-- Hostile Hacking -->
  <ATR_EnemyHacksOccur>Кибератаки противника</ATR_EnemyHacksOccur>
  <ATR_ChanceAlliesInterceptHack>Шанс союзников, перехватить кибератаку</ATR_ChanceAlliesInterceptHack>
  <ATR_ChanceAlliesInterceptHackDesc>Процентный шанс того, что союзные фракции спасут вас от кибератаки противника, предотвращая любые негативные последствия, и давая вам бесплатные очки защиты. </ATR_ChanceAlliesInterceptHackDesc>
  <ATR_PointsGainedOnInterceptPercentage>Очки защиты, при перехвате</ATR_PointsGainedOnInterceptPercentage>
  <ATR_PointsGainedOnInterceptPercentageDesc>Когда союзник перехватывает атаку против вас, он жертвует вам очки защиты, в процентах от силы атаки. Это определяет, сколько очков защиты они вам дадут.</ATR_PointsGainedOnInterceptPercentageDesc>
  <ATR_EnemyHackAttackStrengthModifier>Модификатор силы кибератаки противника</ATR_EnemyHackAttackStrengthModifier>
  <ATR_EnemyHackAttackStrengthModifierDesc>Множитель количества очков взлома у противника. Менее 100% снижает частоту взломов, более 100% повышает её.</ATR_EnemyHackAttackStrengthModifierDesc>
  <ATR_PercentageOfValueUsedForRansoms>Процент от стоимости предмета, за выкуп от криптоблокера</ATR_PercentageOfValueUsedForRansoms>

  <!-- Player Hacking -->
  <ATR_PlayerCanHack>Кибератаки игрока [ОВ = Очки взлома]</ATR_PlayerCanHack>
  <ATR_receiveFullHackingAlert>Предупреждение о превышении ОВ более 90%</ATR_receiveFullHackingAlert>
  <ATR_RetaliationChanceOnFailure>Шанс ответных мер, при неудачном взломе</ATR_RetaliationChanceOnFailure>
  <ATR_MinHackSuccessChance>Минимальный шанс успешного взлома</ATR_MinHackSuccessChance>
  <ATR_MaxHackSuccessChance>Максимальный шанс успешного взлома</ATR_MaxHackSuccessChance>

  <!-- Connectivity Settings -->
  <!-- Surrogates -->
  <ATR_surrogatesAllowed>SkyMind суррогаты [ОН = Очки навыков]</ATR_surrogatesAllowed>
  <ATR_otherFactionsAllowedSurrogates>Фракции могут использовать суррогаты</ATR_otherFactionsAllowedSurrogates>
  <ATR_minGroupSizeForSurrogates>Количество суррогатов в отрядах фракций</ATR_minGroupSizeForSurrogates>
  <ATR_minSurrogatePercentagePerLegalGroup>Минимальный процент суррогатов в группе [по умолчанию 20%]</ATR_minSurrogatePercentagePerLegalGroup>
  <ATR_maxSurrogatePercentagePerLegalGroup>Максимальный процент суррогатов в группе [по умолчанию 70%]</ATR_maxSurrogatePercentagePerLegalGroup>
  <ATR_displaySurrogateControlIcon>Отображение иконки над суррогатами</ATR_displaySurrogateControlIcon>
  <ATR_safeSurrogateConnectivityCountBeforePenalty>Суррогатов на одного оператора до штрафов [1]</ATR_safeSurrogateConnectivityCountBeforePenalty>

  <!-- Skills -->
  <ATR_receiveFullSkillAlert>Предупреждение о превышении ОН более 90%</ATR_receiveFullSkillAlert>
  <ATR_skillPointInsertionRate>Количество ОН, нужных для добавления [по умолчанию 100]</ATR_skillPointInsertionRate>
  <ATR_skillPointConversionRate>Количество XP, получаемого за каждое ОН [по умолчанию 0.5]</ATR_skillPointConversionRate>
  <ATR_passionSoftCap>Софт-кап до увеличения затрат ОН на интерес [по умолчанию 8]</ATR_passionSoftCap>
  <ATR_basePointsNeededForPassion>Количество ОН, необходимых для интереса [по умолчанию 5000]</ATR_basePointsNeededForPassion>

  <!-- Cloud -->
  <ATR_UploadingKills>Загрузка в SkyMind лишает тело сознания</ATR_UploadingKills>
  <ATR_UploadingPermakills>Загрузка в SkyMind полностью убивает тело</ATR_UploadingPermakills>
  <ATR_SkyMindOperationTimeRequired>Часов для выполнения операций SkyMind [по умолчанию 24]</ATR_SkyMindOperationTimeRequired>

</LanguageData>